/* .ant-upload-drag {
  height: 52px !important;
}
.ant-upload .ant-upload-btn {
  display: block !important;
}
.ant-upload-wrapper .ant-upload-drag p.ant-upload-drag-icon {
  margin-bottom: 1px !important;
} */
