.account-grid {
  display: grid;
  grid-template-columns: 4fr 4fr; /* Replicates the original 10/14 span ratio */
  gap: 16px;
  width: 100%;
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.post-container {
  height: 400px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.user-image {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  object-fit: cover;
}


/* ANT design styels here  */
